language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update || true
  - composer install
  
script: 
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml
  
after_script:
  - php vendor/bin/coveralls
